!instance.cfg
!mmc-pack.json
!mrpack/
mrpack/*
!minecraft/
minecraft/*
!minecraft/emi.json
!minecraft/README.md
!minecraft/icon.png
!minecraft/options.txt
!mrpack/**/
mrpack/**/*
!mrpack/**/*
!minecraft/mods/
minecraft/mods/*
!minecraft/local/
minecraft/local/*
!minecraft/config/
minecraft/config/*
!minecraft/kubejs/
minecraft/kubejs/*
!minecraft/scripts/
minecraft/scripts/*
!minecraft/config/**/
minecraft/config/**/*
!minecraft/kubejs/**/
minecraft/kubejs/**/*
!minecraft/config/**/*
!minecraft/kubejs/**/*
minecraft/mods/.index/*
!minecraft/scripts/**/
minecraft/scripts/**/*
!minecraft/mods/.index/
!minecraft/scripts/**/*
!minecraft/local/kubejs/
minecraft/local/kubejs/*
minecraft/mods/.index/**/*
!minecraft/mods/.index/**/
!minecraft/mods/.index/**/*
!minecraft/local/kubejs/**/
minecraft/local/kubejs/**/*
!minecraft/local/kubejs/**/*
